:root,
::backdrop {
  --d: #123; /* dark background color */
  --l: #def; /* light background color */

  --info: #0bf;
  --note: #888;
  --good: #9c0; /* good */
  --goodb: #9b0; /* good */
  --warn: #fc0; /* warn */
  --warnb: #fa0; /* warn */
  --dirt: #840;
  --dirtb: #632;
  --dang: #610; /* danger */
  --lite: #09c;

  --fm: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;

  --min-fs: 1;
  --max-fs: 2.5;
  --min-vw: 20;
  --max-vw: 30;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;

  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) /
    (var(--max-vw) - var(--min-vw));
  --slope-h: (var(--max-fs) - var(--min-fs)) * (100vh - var(--min-vw-rem)) /
    (var(--max-vw) - var(--min-vw));

  font-family: var(--fm);
  font-size: 24px;
  font-size: clamp(
    var(--min-fs-rem),
    var(--min-fs-rem) + var(--slope),
    var(--max-fs-rem)
  );
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (orientation: landscape) {
  :root,
  ::backdrop {
    --slope: (var(--max-fs) - var(--min-fs)) * (100vh - var(--min-vw-rem)) /
      (var(--max-vw) - var(--min-vw));
    font-size: clamp(
      var(--min-fs-rem),
      var(--min-fs-rem) + var(--slope),
      var(--max-fs-rem)
    );
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.it),
  ::backdrop {
    color-scheme: light;
    --bgc: var(--l);
    --fc: var(--d);
    --warn: var(--warnb);
    --good: var(--goodb);
    --dirt: var(--dirtb);
  }

  .it {
    color-scheme: dark;
    --bgc: var(--d);
    --fc: var(--l);
  }
  nav a.theme::before {
    content: "☀";
    transform: rotateZ(0deg);
  }
  html:not(.it) nav a.theme::before {
    content: "☽";
    transform: rotateZ(45deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.it),
  ::backdrop {
    color-scheme: dark;
    --bgc: var(--d);
    --fc: var(--l);
  }

  .it {
    color-scheme: light;
    --bgc: var(--l);
    --fc: var(--d);
    --warn: var(--warnb);
    --good: var(--goodb);
    --dirt: var(--dirtb);
  }
  nav a.theme::before {
    content: "☽";
    transform: rotateZ(45deg);
  }
  html:not(.it) nav a.theme::before {
    content: "☀";
    transform: rotateZ(0deg);
  }
}

::-webkit-input-placeholder {
  color: var(--fc);
  opacity: 0.5;
}
::-moz-placeholder {
  color: var(--fc);
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: var(--fc);
  opacity: 0.5;
}
:-moz-placeholder {
  color: var(--fc);
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bgc);
  color: var(--fc);
  display: grid;
  overflow: hidden;
  grid-auto-flow: row;
  align-content: space-evenly;
  justify-content: stretch;
  margin: 0;
  padding: 1rem;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  font-size: 8vw;
  font-weight: 900;
  line-height: 1;
}

a {
  color: var(--warn);
  text-decoration: none;
}

a[href^="mailto:"] {
  text-decoration: underline;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  /* flex: 1 1 auto; */
  width: 100%;
  justify-content: space-between;
  place-content: end;
  place-self: end;
  line-height: 2;

  background-color: var(--bgc);
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
}

nav a {
  display: flex;
  height: 3rem;
  line-height: 3;
  padding: 0 1rem;
  flex: 0 0 auto;
}

nav a.theme {
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 2.2;
}

h1 {
  font-size: 2rem;
  justify-self: flex-start;
  margin: 0;
}

h2 {
  font-size: 1rem;
  opacity: 0.75;
  line-height: 1.5;
}

h3 {
  font-size: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin: 0 auto;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0 solid transparent;
  padding: 0;
  margin: 0;
  row-gap: 1vw;
}

form input,
form button {
  font-size: 0.9rem;
  font-family: var(--fm);
  line-height: 2;
  flex: 1 1 auto;
  white-space: nowrap;
  background-color: var(--bgc);
  border-radius: 0;
  border: 0 solid transparent;
  outline: 0;
  transition: color ease-in-out 100ms;
  transition-property: color, background-color, border-color;
  box-sizing: border-box;
  max-width: 100%;
}

form input {
  transition-property: color, border-color;
  border: 0 solid transparent;
  border-bottom: 0.35vh solid var(--good);
}

form button {
  padding: 0 2vw;
  color: var(--bgc);
  border-bottom-color: transparent;
  border-radius: 4px;
  background-color: var(--good);
  font-weight: bolder;
  box-shadow: 0px 2px 2px -2px var(--fc);
}

form input:focus,
form input:hover:not(:disabled) {
  border-bottom-color: var(--warn);
}
form button:hover:not(:disabled) {
  border-color: var(--warn);
  background-color: var(--warn);
  box-shadow: 0px 0 1px 0px var(--fc);
  cursor: pointer;
}
form input:disabled,
form button:disabled {
  opacity: 0.25;
}

main {
  max-width: 100%;
}

.good {
  color: var(--good);
}

.warn {
  color: var(--warn);
}

@media (min-width: 760px) {
  body {
    padding: 10vh;
  }

  fieldset {
    flex-direction: row;
    column-gap: 1vw;
  }

  form input,
  form button {
    font-size: 1rem;
    line-height: 2;
    flex: 1 1 auto;
    white-space: nowrap;
    outline: 0;
  }
}
